body {
    background-color: #007FFF;
}

.title {
    text-align: center;
}

.createOrder {
    border: 4px solid #fefe22;
    width: 800px;
    text-align: center;
    margin: auto;
}

form {
    padding: 1px;
    border: 3px dashed #ffff31;
    width: 800px;
    text-align: center;
    margin: auto;
}

#order {
    padding: 3px;
    border: 2px dotted #fdff00;
    width: 800px;
    margin: auto;
}